page-profile {
  .bg-image{
      background: url('../assets/img/perfilFondo.jpg') no-repeat center center;
  }  
  .profile-avatar-center {
    z-index: 99;    
    width: 100%;    
    text-align: center;
    height: 100px;
  }
  .profile-avatar-center-inner {
    background: #E72000;
    height: 37px;    
    width: 100%;
    text-align: center;
  }
  .profile-avatar-center img {
    border-radius: 50%;
    float: left;
    width: 20%;
    margin: 0 auto;
    margin-left: 40%;
    margin-right: 40%;
    height: 75px;
  }
  .profile-avatar-center .user-first_name {    
    margin-top: 1rem;
    width: 100%;
    float: left;
  }    
  
  .text-uppercase.salir {
    line-height: 4rem;
  }
  
  
}
