<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Perfil</ion-title>
    </ion-navbar>

</ion-header>

<div *ngIf="showSplash" class="splash">
    <div class="spinner">
        <ion-spinner></ion-spinner>
    </div>
</div>

<ion-content padding>

    <div class="profile-avatar" *ngIf="userInfo.isUserLoggedIn" style="text-align:left">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <img src="{{userInfo.picture}}">
                </ion-col>
                <ion-col col-9>
                    <div class="user-first_name">{{userInfo.first_name}}</div>
                    <div class="user-first_name">{{userInfo.email}}</div>
                </ion-col>
            </ion-row>
            <ion-row>
                <button ion-button clear (click)="logout()">Salir</button>
            </ion-row>
        </ion-grid>
    </div>

    <div *ngIf="!userInfo.isUserLoggedIn" style="text-align:center">
        <button ion-button icon-start color="facebookButton" (click)="goLoginFacebookPage()">
            <ion-icon name="logo-facebook"></ion-icon>
            Ingresar con Facebook
        </button>
    </div>
    <div *ngIf="!userInfo.isUserLoggedIn" style="text-align:center">
        <button ion-button icon-start color="googleButton" (click)="goLoginGooglePage()">
            <ion-icon name="logo-googleplus"></ion-icon>
            Ingresar con Google
        </button>
    </div>

    <div *ngIf="userInfo.isUserLoggedIn">
        <form (ngSubmit)="companyForm()">

            <ion-item>
                <ion-label floating color="primaryDark">Nombre del Comercio</ion-label>
                <ion-input type="text" name="name" [(ngModel)]="company.name"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating color="primaryDark">Whatsapp</ion-label>
                <ion-input type="tel" name="whatsapp" [(ngModel)]="company.whatsapp"></ion-input>
            </ion-item>
            <ion-item>
                <button ion-button block type="submit">Guardar Comercio</button>
            </ion-item>

        </form>

        <ion-item>
            <a ion-button block (click)="goEditOffersPage()">Mis Ofertas</a>
        </ion-item>

        <ion-grid>
            <ion-row align-items-center>
                <ion-col text-center>
                    <button ion-button icon-only round>
                        <ion-icon name="list"></ion-icon>
                    </button>
                    <div text-center>Ofertas</div>
                </ion-col>
                <ion-col text-center>
                    <button ion-button icon-only round>
                        <ion-icon name="camera"></ion-icon>
                    </button>
                    <div text-center>Cámara</div>
                    
                </ion-col>
                <ion-col text-center>
                    <button ion-button icon-only round>
                        <ion-icon name="images"></ion-icon>
                    </button>
                    <div text-center>Galería</div>
                    
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</ion-content>