page-modal-search {
    .boton-buscar {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        background: none;
    }    
    .boton-buscar .item {
        background: none;
    }
}
