page-offers {
    .grid-bottom {
        background-color: #ff6900;
        font-weight: 500;
    }
    .old-price {    
        text-decoration: line-through;
    }
    .text-white {
        color: #fff;
    }
    
}
